.tile {
  position: relative;
  width: 100%;
  height: 100%;
}

.tile .chess-piece {
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.tile .chess-piece:hover {
  cursor: grab;
}

.tile .chess-piece:active {
  cursor: grabbing;
}

.black-tile {
  background-color: #779556;
}

.white-tile {
  background-color: #ebecd0;
}

.tile img {
  width: 80%;
}

.tile-highlight:not(.chess-piece-tile)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}

.tile-highlight.chess-piece-tile::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 90%;
  height: 90%;
  border: 3px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  pointer-events: none;
  z-index: 2;
  box-sizing: border-box;
}

.tile-highlight.chess-piece-tile .chess-piece {
  z-index: 1;
}

.tile-last-move::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 0 0 0 2px #000;
  pointer-events: none;
  z-index: 3;
}
